@import url("parentdiv.css");
@import url("navbar.css");
@import url("maincontent.css");

:root,html,body{
    box-sizing: border-box;
    margin:0;
}


#profile_pic{
    width:200px;
    height:200px;
    /* clip-path: polygon(1% 0, 98% 0, 100% 50%, 98% 100%, 1% 100%); */
    /* clip-path: polygon(50% 0%, 93% 50%, 47% 100%, 6% 49%); */
    /* clip-path: polygon(50% 0%, 100% 24%, 50% 100%, 1% 23%); */


    /* shape-margin: 1rem;
    transform: translateY(5%);  */

    /* clip-path: ellipse(37% 47% at 50% 50%); */
    /* shape-outside: ellipse(37% 47% at 50% 50%); */
}
figure::before{
    content: '';
    /* content:'Kazim Syed';
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    padding-left:2%; 
    position:absolute;
    width:100%;
    height:4rem;
    background-color:var(--clr-dark2);
    /* background-image: url('https://images.unsplash.com/photo-1446104838475-bc6508184f08?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    /* background-color:var(--clr-blue2); */
    /* background-image: url('https://images.unsplash.com/photo-1511207538754-e8555f2bc187?q=80&w=2412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; */

}

figure{
    position: relative;
    margin-bottom:0px!important;
}



#sidebar h4::after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index:-1;
    background-color:#343A40;
    filter: blur(4px);
    -webkit-filter: blur(12px);
}

figure #picture{
    position: relative;
    width:100px;
    height:100px;
    /* float:left; */
    /* background-image: url('https://images.unsplash.com/photo-1511207538754-e8555f2bc187?q=80&w=2412&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; */
    background-color:var(--clr-dark2);
     clip-path:ellipse(45% 50% at 50% 48%); 
    /*shape-outside:ellipse(45% 45% at 50% 50%); */
    left:60%;
    
}

#picture{
    width:100%;
    height:200px;
    position: relative;
}


/* figure::before{
    position:absolute;
    z-index:10;
    width:100%;
    bottom:100%;
    height:100%;
    border:2px solid pink;
    
} */
#picture::after{
    content:'';
    position:absolute;
    display:inline-block;
    top:0;
    left:0;
    background-image: url("../images/myimage.jpg");
    background-position: 35% 30%;
    background-size: cover;
    clip-path: circle(40.4% at 50% 50%);
    z-index:3;
    width:100%;
    height:100%;
}
.aboutme{
    /* background-color: var(--clr-blue2); */
    padding:10px 10px 1px 10px;
    background-color: #343a40;
    /* box-shadow: 5px 10px 10px var(--clr-dark2); */
}

/* table td:hover{
    box-shadow: 0px 5px 10px 5px var(--clr-dark2);
    padding-bottom:5px;
    font-size:1.1rem;
} */


h3{
    font-size:1.35rem !important;
}
h4{
    font-size:1.1rem !important;
    position: relative;
}

#oneline_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

address{
    display: inline;    
}

.title_info{
    min-width: 10rem;
    /* border:2px solid white; */
    text-align: right;
}

.box_design{
    display: flex;
    justify-content: space-between;
    /* border:2px solid yellow;     */
    width:80%;
    margin-top:1rem;
}

.w_eighty{
    width:calc(80% - 4%);
}

.padding_off{
    padding-left:1em;
    padding-right: 1em;
}

.margin_off{
    margin-left:2em;
    padding-left:5px;
}

.margin_left_off{
    margin-left:2%;
}

.margin_left_offx2{
    margin-left:4%;
}

.margin_top_off{
    margin-top:1rem;
}

/* .dates{
    text-align: right;
}  */




#container a{
    text-decoration: none;
    color:white
}
#sidebar table th{
    color:rgb(108, 117, 125);
    text-transform: uppercase;
    letter-spacing:1px;
    background-color: var(--clr-dark2);
    border-radius: 5%;
}

#sidebar table{
    text-align: right;
}


#oneline_info label,#oneline_info label{
    font-size: 1.2rem;

}

#oneline_info a{
    text-decoration: none;
    color:var(--clr-dark2);
}

#online_profiles,#coding_profiles,#project_links{
    display: flex;
    flex-direction: column;
}


.glow_dot{
    width:5px;
    height:5px;
    /* background-color: rgb(119, 239, 119); */
    border-radius: 100%;
    display: inline-block;

}


#skills table{
    width:80%;
}


.green_spark{
    background-color: rgb(20, 147, 81);

}

.red_spark{
   background-color: rgb(168, 10, 10); 
}   


table:hover span.glow_dot{
    width:6px;
    height:6px;
}

#container div{
    margin-bottom:15px;
}



.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* To wrap to the next line if needed */
    /* gap: 20px; Adjust the gap between items as needed */
}

.skill-item {
    /* padding: 10px; */
    /* border:1px solid black; */
    flex-basis: 100%; /* Adjust the width of each item */
    display: grid;
    grid-template-rows:auto;
    grid-template-columns:1fr 2fr;
    
    
}

.skill-item p:nth-of-type(2){
    text-align:left;
}


@media(max-width:800px){
    #oneline_info{
        flex-direction: column;
    }
    .box_design{
        flex-direction:column;
    }

    .skill-item{
        grid-template-rows: auto auto;
        grid-template-columns:1fr;
        margin-bottom:1rem;
        /* box-shadow: 0 0 0.5em rgba(0,0,0,0.5); */

    }
}


