@import url("parentdiv.css");
@import url("navbar.css");

:root,html,body{
    box-sizing: border-box;
    margin:0;
}

#profile_pic{
    width:100px;
    height:100px;
}


#oneline_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

address{
    display: inline;
}

.box_design{
    display: flex;
    justify-content: space-between;
}

.dates{
    text-align: right;
} 

#hamburger{
    padding:5px 5px 5px 5px;
    z-index:2;
}

#online_profiles,#coding_profiles{
    display: flex;
    flex-direction: column;
}


@media(max-width:800px){
    #oneline_info{
        flex-direction: column;
    }
}