@import url("parentdiv.css");
@import url("navbar.css");

:root,html,body{
    box-sizing: border-box;
    margin:0;
}

#profile_pic{
    width:100px;
    height:100px;
    clip-path: polygon(1% 0, 98% 0, 100% 50%, 98% 100%, 1% 100%);


}


#oneline_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

address{
    display: inline;    
}

.title_info{
    min-width: 10rem;
}

.box_design{
    display: flex;
    justify-content: space-between;
    /* border:2px solid yellow;     */
}

.margin_off{
    margin-left:2em;
    padding-left:5px;
}

.dates{
    text-align: right;
} 

#hamburger{
    padding:5px 5px 5px 5px;
    z-index:2;
    
}

#online_profiles,#coding_profiles{
    display: flex;
    flex-direction: column;
}


@media(max-width:800px){
    #oneline_info{
        flex-direction: column;
    }
}

