
body{
    background-color: white;
}

#parentDiv{
    background-color: transparent;
}


.grid_parent{
    display: grid;
    grid-template-columns:2fr 4fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "left right"
    "left right"
    
}

#sidebar{
    grid-area: left;
    border:2px solid pink;
}

#main_content{
    grid-area: right;
    border:2px solid pink;
}

#container{
    position: sticky;
    top:0;
    padding:2% 1% 1% 1%;
}


.grid_parent2{
    display: grid;
    grid-template-columns:1fr 20fr 1fr;
    grid-template-areas:". right .";
    
}

@media(max-width:800px){
    #sidebar{
        position: fixed;
        width:80vw;
        height:90vh;
        background-color: rgb(202, 172, 172);
    }
}
